{% extends 'base.html' %}
{% block content %}

<h1>Finch Details</h1>

<div class="card">
  <div class="card-content">
      <span class="card-title"><img src="{{ finch.photo }}" width="300px"></span>
      <p>Name: {{ finch.name }}</p>
      <p>Region: {{ finch.region }}</p>
      <p>Description: {{ finch.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'finches_update' cat.id %}">Edit</a>
    <a href="{% url 'finches_delete' cat.id %}">Delete</a>    
  </div>
</div>

{% endblock %}